.header{
 border:5px solid rgb(70, 89, 128);
 text-align: center;
 padding-top:5px;
 padding-bottom: 15px;
 background-color:rgb(186, 203, 237);

 .name{
 font-weight: bold;
 font-size: 25px;
 }
 .address{

 }
 .contact{
  .tellabel{

  }  
  .emailabel{
    margin-left:20px;
  }

  .tel{

  }  
  .email{

  }
 }
}
article{
        padding:10px;
}
section{
    padding-left:10px;
    margin-top:10px;
    .columnname{
        text-decoration: underline;
        font-weight: bold;
        font-size: 17px;
    }

    .wrap{
        .list{
            .cname{
                font-weight: bold;
            }

            .school{
                margin-left:15px;
            }
        }
    }
    .wrapengin{
        margin:0;
        padding:0;
        list-style: none;
        /* border:1px solid red; */
    text-align: left;
    .listname{
        padding:5px;
        font-weight: bold;
            text-align: left;
        /* background-color:yellow; */
   margin-left:0;
    }
    }
}
footer{
    margin-top:190px;
    text-align: center;
    margin-bottom: 40px;
    padding:30px;
    color:white;
    background-color:rgb(137, 158, 183);
}